@import "normalize.css";
@import "colors.css";
@import "fonts.css";
@import "icons.css";

$font__size: 16px;
$meta__width: 320px;
$border__radius: 5px;

html,
body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}

html {
  font-size: $font__size;
}

body {
  background: $color__bg;
  padding-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.link {
  color: $color__link;
}

.title {
  display: inline-block;
  background-color: $color__box;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 0.2em;
  border-radius: $border__radius;
  font-family: $font__title;
  font-size: 3rem;
  font-weight: bold;
  color: $color__bg;
  text-transform: uppercase;
  text-align: center;
}

.note {
  font-size: 0.75em;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.meta,
.langs,
.skills {
  font-family: $font__text;
  font-size: 1.5rem;
  color: $color__text;
}

.langs,
.skills {
  width: $meta__width;
}

.meta {
  text-align: center;

  &__name {
    text-decoration: none;
  }

  &__about {
    line-height: 1.25em;
  }
}

.langs {
  margin-bottom: 2rem;

  &__title {
    font-weight: bold;
  }
}

.skills {
  &__category:not(:first-child) {
    margin-top: 3rem;
  }

  &__category:last-child {
    margin-bottom: 3rem;
  }

  &__section {
    margin: 2rem 0 0;
  }

  &__entry {
    position: relative;
    padding: 0.2rem 0 0 calc($icon__size * 5.5);

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      height: $icon__size;
    }

    &::before {
      width: calc($icon__size * 5);
      background-image: $icon__star--empty;
    }

    &::after {
      background-image: $icon__star--full;
    }

    @for $i from 1 to 5 {
      &--$(i)-star::after { width: calc($icon__size * $i); }
    }
  }
}

.category__title {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

.section__title {
  margin-bottom: 0.5rem;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

/*
Mobile devices, minimized view
*/
@media (max-width: 480px) {
  .name {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
  }
}

/*
Mobile devices, iPhone 5 and smaller
*/
@media (max-width: 360px) {
  html {
    font-size: calc($font__size - 2px);
  }

  .links__icon {
    top: 5px;
  }
}

/*
Large screens, scale x1.5
*/
@media (min-width: 1921px) {
  html {
    font-size: calc($font__size * 1.5);
  }

  .title {
    margin-top: 40px;
  }
}
